@media (max-width: 767px){
	
	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="submit"],
		input[type="button"],
		textarea{
		border-radius: 0;
		-webkit-appearance: none;
	}
	
	body{
		min-width: 0;
	}
	.wrap{
			width: 325px;
	}
	.wrap div{
		max-width: 325px;
	}
	.phoneheader{
		display: block;
		position: absolute;
		top: 25px;
		right: 25px;
		z-index: 200;
		padding: 0;
		float: right;
	}

img.hlang {
	width: 25px;
	height: auto;
	margin-top: 0;
	margin-right: 20px;
}

#header {
	height: 72px;
	z-index: 200;
}



.phoneheader .menubutton{
		width: 40px;
		height: 40px;
		float: right;
	margin-top: -8px;
	background: url(images/menu.svg) center center no-repeat;
	background-size: 20px;
}
.menubutton.touch{
	filter: invert(100%);
}

	.phonemenu{
		padding: 55px 0 20px;
		margin: 0;
		top: 0;
		position: absolute;
		right: 0;
		left: 0;
		z-index: 100;
		background-color: rgba(255, 255, 255, 0.86);
		opacity: 0;
		visibility: hidden;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		display: block;
	}
	.phonemenu.touch{
		opacity: 1;
		visibility: visible;
		padding-top: 85px;
	}
div.headoption {
	top: 0;
	right: 0;
	display: none;
}

img.logo {
	width: 215px;
	height: auto;
	margin-top: 5px;
}

.phonemenu li{
		display: block;
		padding: 0 25px;
		margin: 0;
	font-size: 17px;
	line-height: 33px;
}



.phonemenu li a{
		display: block;
		color: #000000;
	}
	div.mainslon {
		position: static;
		margin: 0 auto;
		float: none;
		width: 375px;
	}

div.mainslrent {
	width: 325px;
	padding: 40px 25px;
	border-radius: 0;
	height: auto;
}



div.mainsltext {
	top: 0;
	margin-left: 25px;
	margin-right: 25px;
	width: 325px;
	position: absolute;
	z-index: 10;
	margin-top: 140px;
}

div.mainsltext h2 {
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 0;
}
div.mainsltext p{
	font-size: 17px;
	line-height: normal;
}
h2.mslrenthead {
	font-size: 22px;
	margin-bottom: 0;
}

h3.mslrentcate {
	font-size: 14px;
}

input.mslrsform {
	width: 220px;
}

p.mslrenttext {
	font-size: 11px;
	margin-bottom: 15px;
}

div.mainslide {
	height: auto;
	margin-top: -72px;
}
div.mainslide .galleria1{
	height: 270px;
	margin-top: 0;
}

.mslrenttype,
.mslrenttype input[type="radio"]{
	width: 63px;
	height: 63px;
}
.mslrenttype #datepick {
	width: 126px;
	height: 63px;
}

.mslrenttype img{
	width: 63px;
	height: auto;
	margin-left: 0;
	margin-top: -2px;
}


.mslrenttype p{
	font-size: 10px;
	top: 42px;
}

input.mslrentfind {
	margin-top: 10px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	float: right;
}
h2.mnahead {
	font-size: 22px;
	line-height: normal;
}

p.mnatext {
	font-size: 11px;
	line-height: normal;
}
a.mnarent {
	font-size: 11px;
	margin-right: auto;
	margin-left: auto;
	width: 130px;
	height: 30px;
	line-height: 30px;
	display: block;
	float: none;
	clear: both;
}

div.main_a {
	height: 230px;
	background-size: 500px;
	padding-top: 40px;
}

div.mnbbox {
	width: 100%;
	height: 150px;
}

.mnbbox .mnbbon,
.mnbbox:hover .mnbbon{
	opacity: 1;
	visibility: visible;
	top: auto;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 8px 0 5px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 100%;
	background-color: transparent;
	color: #ffffff;
	text-shadow: 0 0 10px #000000;
}

div.mnbbox img{
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.mnbbon{
	padding-bottom: 0;
	padding-top: 0;
}
.mnbbon h3{
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 18px;
}
.mnbbon p{
	font-size: 11px;
	line-height: normal;
}

div.main_c {
	padding-top: 40px;
	padding-bottom: 40px;
}

div.mncbox {
	width: 325px;
	margin-left: 0;
	margin-right: 0;
}



h2.mnchead {
	font-size: 16px;
	margin-bottom: 20px;
}



.mncbox img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-bottom: 0;
}
.mncbox p{
	width: 215px;
	text-align: left;
	font-size: 11px;
	float: right;
}
.mncbox h3{
	width: 215px;
	text-align: left;
	font-size: 12px;
	margin-bottom: 0;
	margin-top: 10px;
	float: right;
}
div.main_d {
	background: url(none) #ffffff;
	padding: 0;
}
div.main_d .wrap{
	width: 375px;
}
div.mndleft {
	width: 100%;
	margin: 0;
	background-color: #e6f2f9;
	padding: 30px 25px;
}

div.mndright {
	margin: 0;
	width: 325px;
	padding: 30px 25px;
}

div.mndright a img {
	width: 100%;
}

img.mndicon {
	margin-right: auto;
	margin-left: auto;
	float: none;
}

h3.mndlhead {
	font-size: 20px;
	margin-top: 0;
}


p.mndltext {
	font-size: 11px;
}

div.mndlcon {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	padding-left: 10px;
	float: none;
}
div.main_e {
	padding-top: 40px;
	padding-bottom: 40px;
	height: auto;
}

h2.mnehead {
	font-size: 18px;
	line-height: 23px;
	width: 240px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	margin-bottom: 20px;
}

p.mnetext {
	margin-top: 15px;
	line-height: normal;
	font-size: 10px;
}



div.mnecall {
	margin-right: auto;
	margin-left: auto;
	float: none;
	display: block;
	width: 165px;
	height: 46px;
}
div.mnecall img{
	width: 35px;
	height: 35px;
	margin-top: 5px;
	margin-left: 5px;
}
div.mnecall p{
		font-size: 13px;
	line-height: 45px;
	height: auto;
}
div.mnecon {
	width: 325px;
	margin-right: auto;
	margin-left: auto;
	float: none;
}
#footer {
	position: static;
	height: auto;
	padding-top: 30px;
	padding-bottom: 20px;
}

h3.fthead {
	font-size: 11px;
	line-height: normal;
}

#footer div.wrap {
	width: 325px;
}

div.ftoption div.ftlang {
	float: right;
	margin-right: -13px;
}

div.ftpart {
	margin-bottom: 25px;
}

p.ftcopyr {
	font-size: 9px;
}

div.ftlang img {
	width: 25px;
}

div.ftsubc a img {
	width: 25px;
	height: auto;
}

div.ftoption {
	width: 100%;
	margin-top: 25px;
}

ul.ftmenu li{
	font-size: 11px;
	line-height: 20px;
}

#content {
	padding-bottom: 0;
}
div.register {
	background-color: #ffffff;
	border-radius: 0;
	width: 375px;
	padding-top: 40px;
}

div.regcon {
	width: 325px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 40px;
}

p.regcate {
	font-size: 10px;
}
div.regcheck p{
	position: relative;
	top: -3px;
}

input.regregist {
	width: 325px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	display: block;
}

div.regcheck input{
	
}

img.regfacebook {
	background-color: #2f69b7;
		border-radius: 0;
	width: 100%;
	height: auto;
}

h1.reghead {
	font-size: 16px;
	line-height: 16px;
}

h3.regsubh {
	font-size: 17px;
	line-height: normal;
}
div.findcart_a {
	margin-top: -3px;
	padding-top: 25px;
	padding-bottom: 40px;
}

div.findcart_b {
	padding-top: 15px;
	padding-bottom: 25px;
}



p.fcanavi {
	font-size: 11px;
	margin-bottom: 0;
}

img.promosgpic {
	margin: 5px -25px 10px;
	width: 375px;
	height: auto;
}

h2.fcahead {
	font-size: 22px;
	line-height: normal;
	margin-bottom: 0;
}

input.fcadate {
	width: 261px;
}



select.fcatype {
	width: 320px;
}

div.fcabox {
	width: 100%;
	margin-right: 0;
}

div.mslrentpart {
	margin-bottom: 15px;
}

.fcabox p{
	line-height: normal;
	font-size: 13px;
	margin-bottom: 10px;
	margin-top: 15px;
}

div.wrap div.fcbcon {
	width: 375px;
	max-width: 375px;
	margin-left: -25px;
	margin-right: -25px;
}

div.fcbdetail {
	width: 325px;
}
.rentsginfo p,
p.fcbprice {
	font-size: 20px;
	margin-top: 8px;
}
.rentsginfo p{
	margin-top: 0;
	line-height: normal;
	float: right;
	width: auto;
	margin-right: 15px;
}

div.rentsginfo {
	margin-bottom: 20px;
}

div.rentsgdetail {
	height: auto;
}

.rentsginfo p span,
p.fcbprice span{
	font-size: 13px;
}
.rentsginfo h3,
div.fcbleft h3 {
	font-size: 12px;
	margin-bottom: 0;
}

div.wrap div.fcbcon div{
	max-width: 375px;
}

img.fcbown {
	width: 40px;
	height: 40px;
}

div.fcbcon div.fcbbox {
	width: 100%;
	margin-right: 0;
	margin-bottom: 0;
	height: auto;
	-moz-box-shadow: none;
	box-shadow: none;
}

div.fcbpage {
	margin-top: 25px;
}


p.restsgdtag,
p.fcbtag {
	font-size: 12px;
	padding: 5px 20px;
	line-height: normal;
	height: auto;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

img.fcbcar {
	height: 170px;
	width: 100%;
	object-fit: cover;
}

.wrap div.rentsgslide {
	width: 375px;
	max-width: 375px;
	margin: 5px -25px 10px;
	height: 230px;
}

div.rentsgby {
	padding: 25px;
	margin-left: -25px;
	margin-right: -25px;
}

div.rentsgbdet {
	width: 220px;
	font-size: 11px;
}
div.rentsgbdet h3{
	font-size: 12px;
	line-height: normal;
}
div.rentsgby img {
	width: 80px;
	height: 80px;
	margin-left: 0;
	margin-right: 15px;
}

.wrap div.rentsgslide *{
	max-width:none;
}
div.carrentsingle {
	padding-top: 10px;
	padding-bottom: 20px;
}

.rentsgqhead {
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	padding-left: 18px;
	padding-right: 20px;
}
.rentsgqhead:last-child{
	margin-right: 0;
}
div.rentsgqtext {
	padding: 15px;
	width: 295px;
	font-size: 11px;
	line-height: normal;
}
div.rentsgqtext p{
	line-height: normal;
}
div.rentsgqtext dt{
	padding-left: 5%;
	width: 45%;
}
div.rentsgqtext dd{
	width: 45%;
	padding-right: 5%;
}
div.rentsgfbcomment {
	display: none;
}

.rentsgmap,
.rentsgmap iframe{
	height: 200px;
	width: 100%;
}
div.rentsgpart{
	padding-bottom: 10px;
	margin-bottom: 0;
	padding-top: 10px;
}

h3.mslrentcate {
	margin-top: 10px;
}

div.rentsgsocial {
	margin-top: 20px;
}

div.rentsgpart h3,
div.rentsgpart p{
	font-size: 14px;
}

div.rentsgwhite {
	padding: 15px;
	width: 295px;
}

div.rentsgcardet p {
	font-size: 11px;
	line-height: normal;
}

div.lmacon {
	position: static;
	margin-left: auto;
	margin-right: auto;
	width: 325px;
	float: none;
	margin-top: 90px;
}


div.lmacon h1{
 	font-size: 27px;
 	line-height: normal;
 	margin: 0;
 }
 div.lmacon h2,
 div.lmacon h3 {
 	font-size: 18px;
 	line-height: normal;
 	margin: 0;
 }

div.learnmore_b {
	padding-top: 40px;
	padding-bottom: 40px;
	height: auto;
}

div.lmbcon {
	margin-left: 0;
}



div.lmbcon p {
	font-size: 11px;
	margin-top: 40px;
}

div.lmbcon h2{
	font-size: 18px;
	margin-bottom: 20px;
	line-height: normal;
}

div.lmbvideo ,
div.lmbvideo iframe{
	margin-left: 0;
	width: 100%;
	height: 180px;
}

.learnmore_a{
	height: 375px;
}

div.promotionsg {
	padding-top: 0;
	padding-bottom: 0;
}

h1.promosghead {
	font-size: 20px;
	line-height: normal;
	margin-top: 10px;
}

h3.promosgsubh {
	font-size: 13px;
	line-height: normal;
	margin-bottom: 15px;
}
div.promosgtext p{
	margin-top: 0;
}
div.promosgtext {
	font-size: 11px;
	line-height: normal;
	margin-bottom: 40px;
}

.promosgfbcomment {
	display: none;
}
div.lcacon {
	position: static;
	margin-left: auto;
	margin-right: auto;
	width: 325px;
	float: none;
	margin-top: 65px;
	
}
div.lcacon h2{
 	font-size: 27px;
 	line-height: 32px;
 	margin: 0 auto 20px;
	width: 200px;
	display: block;
	float: none;
}



div.lcacon p{
	font-size: 11px;
	line-height: normal;
}

div.listacar_a {
	height: 375px;
}

div.lcacon a{
	display: block;
	margin-right: auto;
	margin-left: auto;
	float: none;
	clear: both;
}

div.listacar_b {
	width: 100%;
	height: auto;
}

div.lcbleft {
	width: 100%;
	height: auto;
}

div.lcblist {
	margin-bottom: 25px;
}

div.lcbrin {
	margin-top: 40px;
	width: 325px;
	height: 140px;
	margin-bottom: 40px;
}

div.lcbinfo {
	width: 270px;
	padding: 15px 25px;
}

p.lcbtext {
	font-size: 11px;
	line-height: normal;
}



div.lcbright {
	width: 100%;
	height: auto;
}

div.lcbdetail {
	width: 325px;
	margin-right: 0;
}

div.lcblin {
	width: 325px;
	margin-top: 40px;
}

 div.lcbdetail h3 {
 	font-size: 18px;
 	line-height: 20px;
 }
 div.lcbdetail p{
 	font-size: 11px;
 	line-height: normal;
 	margin-bottom: 20px;
 }
 
 div.listacar_c {
 	padding-top: 40px;
 	padding-bottom: 40px;
 }

h2.mnchead {
	line-height: normal;
}



.lcdcon h3 {
	font-size: 20px;
	line-height: normal;
}



img.lcdicon {
	width: 100px;
	float: left;
	margin-left: 0;
	margin-bottom: 20px;
}

div.listacar_d {
	padding-top: 40px;
	padding-bottom: 40px;
}
.lcdcon p {
	font-size: 11px;
	line-height: normal;
}

div.profileuser {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	float: none;
}
 div.profileuser,
 div.profileuser div.wrap {
 	width: 375px;
 	max-width: 375px;
 }
  div.profileuser div.wrap div{
  	 	max-width: 375px;
  	
  }
  
  div.puserleft {
  	width: 100%;
  	border-right-style: none;
  }

img.puserpfpic {
	width: 100%;
	height: 230px;
	object-fit: cover;
}

div.pusermenu {
	width: 100%;
	box-sizing: border-box;
}



div.puserboxc {
	width: 355px;
	margin-right: 10px;
	margin-left: 10px;
	display: none;
	margin-bottom: -1px;
}
div.puserboxc.active{
	display: block;
}
div.puserboxc:hover{
	background-color: transparent;
}



div.puserdetail {
	border-right-style: none;
	float: right;
	width: 235px;
	padding-top: 0;
	margin-top: 7px;
	height: auto;
	margin-bottom: 10px;
}
div.puserdetail h3{
	font-size: 13px;
}
div.puserdetail p{
	font-size: 11px;
}
img.puserpic {
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}

div.puserprofile {
  	width: 100%;
  	height: 230px;
  }
  div.puserlocate {
  	width: 143px;
  	padding-right: 0;
  	padding-left: 0;
  	float: left;
  	padding-top: 10px;
  	font-size: 11px;
  	clear: left;
  	margin-left: 31px;
  }

div.puserprice {
	padding: 10px 0 0 10px;
	float: left;
}
div.puserprice p{
		font-size: 12px;
	
}
div.puserprice h3{
	font-size: 14px;
}
div.puserlocate h3{
		font-size: 11px;
	}
	
	div.profilerental {
		padding-top: 0;
		margin-right: auto;
		margin-left: auto;
		float: none;
		clear: both;
	}
	div.profilerental ,
	div.profilerental div.wrap {
		width: 375px;
		max-width: 375px;
	}
	div.profilerental div.wrap div{
	 	 	max-width: 375px;
	 	
	 }
	
	div.message.tab-content{
		display: block;
	}

div.puserboxh {
	padding-top: 15px;
	padding-bottom: 15px;
		box-sizing: border-box;
			height: auto;
	border-top: 1px solid #dfe0df;
	border-bottom: 1px solid #dfe0df;
	margin-bottom: -1px;
	border-left: 4px solid #ffffff;
}
	div.message.tab-content div.puserboxh {
		background: url(images/downb.svg) right 15px center no-repeat;
		background-size: 17px;
	}



#content div.profileuser div.wrap div.pusercon div.puserleft div.tab-buttonwrap {
	display: none;
}

div.puserboxh h2{
	font-size: 18px;
	width: auto;
	float: left;
	margin-top: 0;
}
div.puserboxh img {
	width: 30px;
	margin-top: -1px;
	margin-right: 19px;
	margin-bottom: -3px;
}
div.puserboxh p {
	display: none;
}

div.message.tab-content div.puserboxh.active{
	background-color: #bcc2cb;
	border-left: 4px solid #52f1c6;
		background-image: url(images/upw.svg);
}
div.puserboxh.active img{
	filter:  invert(100%);
}
div.puserboxh.active h2{
	color: #ffffff;
}
div.message.signout {
	display: block;
}

img.pfrtpfpic {
	width: 110px;
	height: auto;
	position: relative;
}

p.pfrtratehead {
	width: 220px;
	float: right;
	margin-top: 10px;
}

div.pfrtrateall {
	width: 220px;
	float: right;
	margin-bottom: 15px;
}

div.pfrtifbox {
	width: 33.33%;
	margin-right: 0;
	box-sizing: border-box;
	float: left;
	border-right: 1px solid #f0f2f0;
	text-align: center;
}
div.pfrtifbox:last-child{
	border-right-style: none;
}
div.pfrtifbox h3{
	font-size: 11px;
}

div.pfrtleft {
	width: 325px;
	padding: 25px;
	box-sizing: border-box;
}
div.pfrtleft p{
	font-size: 11px;
}

div.pfrtright {
	padding: 25px;
	width: 325px;
}

div.pfrtrvpf {
	margin-right: 15px;
}

p.pfrtrvtext {
	width: 240px;
	font-size: 11px;
}

p.pfrtrvtime {
	float: right;
	font-size: 11px;
	text-align: right;
	width: auto;
	margin-left: 0;
}

 div.pfrtrvpf p {
 	font-size: 11px;
 }

div.pfrtreview {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

div.pfrtrboxh {
	
}

div.pfrtcarbox {
	width: 155px;
	margin-right: 15px;
	margin-bottom: 15px;
}

div.rentnavi {
	height: auto;
	float: left;
	padding-bottom: 0;
	margin-bottom: 0;
}

div.rentnvbox {
	width: 100%;
	display: block;
	position: relative;
	padding-bottom: 20px;
	float: left;
	clear: both;
	height: 25px;
}
div.rentnvbox:not(:last-child):after{
	content: '';
	display: block;
	float: left;
	width: 1px;
	height: 20px;
	clear: both;
	position: absolute;
	left: 13px;
	border-left: 2px solid #6f706f;
	bottom: -3px;
}



div.rentnavi img{
	display: none;
}
div.rentcar {
	padding-top: 25px;
	padding-bottom: 40px;
}

div.pfrtcarbox:nth-child(2n){
	margin-right: 0;
}
div.pfrtrboxh h2{
	font-size: 18px;
}
div.pfrtrboxh p{
	font-size: 11px;
}
div.pfrtifbox p{
	font-size: 22px;
}
div.pfrtifbox img{
	filter: invert(100%);
	display: block;
	margin-right: auto;
	margin-left: auto;
	float: none;
	clear: both;
	padding-top: 5px;
}
div.pfrtinfo {
	border-top: 1px solid #f1f2f1;
	border-bottom: 1px solid #f1f2f1;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.pfrtdetail {
	margin-left: 25px;
	width: 200px;
	margin-top: 0;
}

p.pfrtjoin {
	font-size: 11px;
}

h1.pfrtname {
	font-size: 22px;
}

div.pfrtsocial {
	font-size: 11px;
	line-height: 11px;
}
div.pfrtsocial p{
	line-height: 14px;
}

div.pfrtoption {
	float: left;
	margin-left: 0;
	margin-top: -30px;
	clear: both;
	color: #000000;
	background-color: #ffffff;
	width: 100%;
}

div.pfrtboxh {
	height: auto;
}

div.pfrtsocial img{
	height: 15px;
	width: auto;
}

div.pfrtleft {
	clear: both;
	float: left;
	width: 100%;
}

div.pfrtprofile {
	width: 335px;
	margin: 20px;
}

div.rentcon {
	margin-left: 0;
}

 div.rentcar div.wrap {
	
}
h1.idthead ,
h1.renthead {
	font-size: 22px;
	text-align: left;
}

p.idtsubh {
	text-align: left;
}



div.rentinside {
	width: 325px;
	padding: 25px;
	margin-left: -25px;
	margin-right: -25px;
}

div.rentinfo {
	height: auto;
}

div.renttime {
	padding: 10px;
	width: 305px;
	font-size: 11px;
}
div.renttime.y{
	margin-left: 0;
	width: 305px;
}

a.rentback {
	width: 100%;
	margin-bottom: 25px;
}

input.rentsend {
	width: 100%;
}

div.renttime h3 {
	float: left;
	width: auto;
	font-size: 11px;
}
div.renttime p{
	float: right;
	width: auto;
}



textarea.rentmoreinfo {
	width: 305px;
	padding: 10px;
	font-size: 11px;
}

p.idtdate {
	margin-right: 31px;
}

div.idtinside {
	padding: 25px;
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: 40px;
}

select.idtdatelist {
	width: 98px;
	margin-left: 15px;
	margin-right: 0;
}

input.idtform,
input.idtform.c,
textarea.idtform.d {
	width: 325px;
}
div.idtform input[type="file"] {
	width: 230px;
	float: right;
	margin-top: 15px;
}

div.confirm {
	padding-top: 100px;
	padding-bottom: 100px;
	width: 325px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	clear: both;
}

div.cfcon h2 {
	font-size: 22px;
	line-height: normal;
}



div.cfcon a {
 	width: 160px;
 	margin-left: auto;
 	margin-right: auto;
 	float: none;
 	display: block;
 	clear: both;
 }
div.insurance_a {
	height: 375px;
}


div.inacon {
	width: 325px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	bottom: 25px;
	height: auto;
	top: auto;
}

img.inblogo {
	margin-right: auto;
	margin-left: auto;
	display: block;
	float: none;
	width: 120px;
}

div.insurance_b {
	padding-top: 40px;
	padding-bottom: 40px;
}

div.inbcon {
	margin-left: 0;
}

div.inacon h2{
	font-size: 22px;
	line-height: normal;
	margin-bottom: 5px;
}

div.inacon p{
	font-size: 11px;
	line-height: normal;
}

div.inbcon h2{
	font-size: 20px;
}
div.inbcon p{
	font-size: 11px;
	line-height: normal;
}

img.inbicon {
	margin: 25px auto;
	float: none;
}

div.contact {
	padding-top: 40px;
	padding-bottom: 40px;
}

div.ctcon {
	margin-left: 0;
	margin-right: 0;
}

div.ctcon h3 {
	font-size: 22px;
}
div.ctcon p{
	font-size: 11px;
	line-height: normal;
}

div.ctallform {
	margin-top: 25px;
}

input.ctform {
	width: 283px;
	padding-left: 20px;
	padding-right: 20px;
}
textarea.ctform.x{
	width: 283px;
	padding-left: 20px;
	padding-right: 20px;
}

input.ctsend {
	width: 100%;
}

div.ctmap,
div.ctmap iframe {
	height: 375px;
}

.contracthippo img {
	width: 50px;
}
.contracthippo h1{
	float: left;
	width: auto;
	margin-top: 5px;
	font-size: 22px;
	line-height: 22px;
}

div.ctrcheck {
	width: 100%;
	margin-right: 0;
	margin-bottom: 0;
}

input.idtform {
	margin-top: 20px;
	margin-bottom: 0;
}

a.ctrprint {
	margin-top: 0;
	margin-left: 0;
	width: 325px;
}

.contracthippo h1 span{
	font-size: 20px;
}
div.contracthippo {
	width: 243px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	clear: both;
	height: 60px;
}

img.ctrmark {
	float: left;
	width: 100%;
	clear: both;
}

p.ctrcategory,
p.ctrcategory.x {
	height: auto;
	line-height: normal;
	margin-right: 0;
	width: 325px;
	margin-bottom: 15px;
}

input.idtform.i,
input.idtform.h,
select.idtdatelist,
select.idtdatelist.g {
	margin: 0 10px 10px 0;
	width: 150px;
}

p.ctrdays {
	line-height: normal;
	margin-bottom: 15px;
	margin-top: 5px;
}

div.contractlocate {
	padding: 5px 25px 25px;
	margin-bottom: -20px;
	margin-left: -25px;
	margin-right: -25px;
}

input.idtform.f {
	background-position: right center;
}

xx{
		
	}
}
xx{
	
}